# Environments
.env                 <-- CRITICAL: This hides your MongoDB password
venv/
env/
ENV/
node_modules/
.vscode/
__pycache__/

# inside parent-folder/.gitignore
git_assignment_code/flask-todo-app/